{% extends 'base.html' %}

{% block content %}

<h1>{{article.title}}({{article.comment_set.count}})</h1>
<p>{{article.content}}</p>
<p>작성자-{{article.user.username}}</p>

{% if request.user == article.user %}
<div>
    <a href="{% url 'board:update_article' article.pk %}">
        <button>수정</button> | 
    </a>
</div>

<div>
    <form action="{% url 'board:delete_article' article.pk %}" method='POST'>
            {% csrf_token %}
            <button>삭제</button>
        </a>    
    </form>
</div>
{% endif %}

<hr>
{% comment %} component화 (부품화) {% endcomment %}
{% if request.user.is_authenticated %}
{% include 'board/_comment_form.html' %}
{% endif %}
{% include 'board/_comment_list.html' %}
{% endblock content %}


