{% extends 'base.html' %}

{% block content %}
<h1>Students List</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">major</th>
        <th scope="col">gpa</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <th scope="row">{{ student.pk }}</th>
        <td>
            <a href="{% url 'classroom:detail' student.pk %}">{{ student.name }}</a>
        </td>
        <td>{{ student.major }}</td>
        <td>{{ student.gpa }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}