{% include 'base_board.html' %}

{% block content %}
<h1>{{posting.subject}}</h1>
<p>{{posting.description}}</p>

<div>
    <a href="{% url 'board:edit' posting.pk %}">
        <button>수정</button>
    </a>

    <form action="{% url 'board:delete' posting.pk %}" method="POST">
        {% csrf_token %}
        <input onclick="return confirm('진짜 삭제하시겠습니까?')" type="submit" value='삭제'>
        {% comment %} <input onclick="return confirm('진짜 삭제?')" type="submit" value='삭제'> {% endcomment %}
    </form>
</div>

{% endblock content %}