{% include 'base_board.html' %}

{% block content %}
<h1>Edit Posting</h1>

<form action="{% url 'board:update' posting.pk %}" method="POST">
    {% csrf_token %}
    <div>
        <label for="subject">주제</label>
        <input id='subject' name='subject' type="text" value={{posting.subject}}>
    </div>
    
    <div>
        <label for="description">서술</label>
        <textarea name="description" id="description" cols="30" rows="10">{{posting.description}}</textarea>
    </div>

    <div>
        <input type="submit" value='제출~'>
    </div>
</form>
{% endblock content %}