<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Logged in as [{{request.user}}]</p>
    <ul>
        <li>
            <a href="{% url 'polls:question_index' %}">Home</a>
        </li>
        {% comment %} 사용자가 login 안했다면 {% endcomment %}
        {% if not request.user.is_authenticated %}
        <li>
            <a href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'accounts:signup' %}">Signup</a>
        </li>
        {% comment %} 사용자가 login 했다면 {% endcomment %}
        {% else %}
        <li>
            <a href="{% url 'polls:create_question' %}">New Question</a>
        </li>
        <li>
            <a href="{% url 'accounts:logout' %}">Logout</a>
        </li>
        {% endif %}
    </ul>
    {% block content %}{% endblock content %}
</body>
</html>